body{
    margin: 0px;
    font-family: "Poppins";
    font-family: "Poppings", sans-serif;
}
.container{
    max-width: 1320px;
    margin: 0px auto;
}
.header-wrapper{
    background: #e3c099;
    z-index: 1;
    padding: 0px 10rem;
}
.header{
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.navigation ul {
    display: flex;
    align-items: center;
    list-style: none;
}
.navigation ul li {
    margin: 0px 25px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;    
}
.login a{
    padding: 10px 25px;
    text-align: center;
    width: 5rem;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background: #fff;
    color: #e3c099;
    text-decoration: none;
    border-radius: 25px;
}
.banner{
    margin-top: -5px;
    background-image: url("../svg/header.svg");
    background-position-y: -40px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    max-height: 500px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    padding: 0px 10rem;
    margin-bottom: 8rem;
   }
   .banner .intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2.5rem;
    max-width: 50vw;
   }
   .intro h1{
    margin: 0px;
    color: #e3c099;
   }
   .intro p{
    font-size: 16px;
    color: #35637a;
   }
   .intro button{
    border: none;
    padding: 15px;
    background: #e3c099;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    max-width: 10rem;
   }
   .banner .custome-image{
    margin: 6rem;
    max-width: 50vw;
   }
   .next-wrapper{
    height: 80vh;
    padding: 0px 10rem;
    display: flex;
    align-items: center;
   }
   .laptop-image{
    width: 50vw;
   }
   .info{
    width: 50vw;
    font-size: 2.5rem;
    flex-direction: column;
    display: flex;
   }    
   .info h1{
    color: #e3c099;
    margin: 0;
   }
   .info p{
    font-size: 16px;
    color: #35637a;
   }
   .info button{
    border: none;
    padding: 15px;
    background: #e3c099;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    max-width: 10rem;
   }
   .contact-us-wrapper{
    background: url("../svg/footer.svg");
    background-size: cover;
    padding-bottom: 5rem;

 }
 .contact-us h1{
    color: #e3c099;
    font-size: 4rem;
 }
 .contact-us{
    margin: auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35rem;
 }
 .contact-us input{
    width: 100%;
    padding-left: 20px;
    border: none;
    background: #f5f5f5f5;
    margin-bottom: 1rem;
    font-family: inherit;
    padding: 12px 16px;
    border-radius: 9px;
 }
 textarea{
    width: 100%;
    padding: 15px;
    border-radius: 9px;
    background: #f5f5f5f5;
    border: none;
    font-family: inherit;
    resize: none;
    margin-bottom: 2rem;
 }
 .contact-us button{
    margin: auto;
    border: none;
    padding: 15px;
    color: #e3c099;
    background: #fff;
    font-size: 16px;
    border-radius: 15px;
    max-width: 10rem;
 }
 .footer{
    height: 15rem;
    padding: 2rem 10rem;
    display: flex;
    background: #f3a470;
 }
 .footer .details{
    width: 35rem;
 }
 .footer .details h2{
    color: #fff;
 }
 .footer .details p{
    color: #fff;
 }
 ::placeholder{
    color: #8a8989;
    opacity: 1;
 }
 .signature{
    background: #f3a470;
    display: flex;
    color: #fff;
    justify-content: center;
 }